@import "tailwindcss";

:root {
  --background: #f8f6f6;
  --foreground: #1b0d12;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: #bd0f49;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221016;
  --color-charcoal: #1b0d12;
  --color-cream: #fcf8f9;

  --font-display: var(--font-work-sans), sans-serif;
  --font-serif: var(--font-playfair-display), serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #221016;
    --foreground: #fcf8f9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}
